<div class="card shadow-sm">
    <div class="movie-poster">
      <img [src]="item.movie.Poster" />
    </div>
    <div class="card-body">
      <p class="h4">{{ item.movie.Title }}</p>
      <p class="card-text">
        {{ item.movie.Plot }}
      </p>
      <p>Rating: {{ item.data.rating }}/5</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary"
            (click)="goToDetails()"
          >
            Details
          </button>
          <!-- <button (click)="DeleteItem()">remove</button> -->
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>

