<main>
  <section class="py-3 text-center middle">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-white">
        {{ "catalogue.ADD_MOVIE" | translate }}
      </h1>
    </div>
  </section>

  <div class="py-5">
    <div class="container d-flex justify-content-center flex-column w-100">
      <div class="row d-flex justify-content-center">
        <div class="search-form d-flex justify-content-center flex-column">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchKey"
            placeholder="{{ 'catalogue.ENTER_MOVIE_NAME' | translate }}"
          />
          <button
            class="btn btn-outline-secondary mt-2"
            (click)="search(searchKey)"
          >
            {{ "catalogue.SEARCH" | translate }}
          </button>
          <div class="alert alert-danger mt-2" role="alert" *ngIf="hasError">
            {{ "errors.ENTER_MOVIE_NAME" | translate }}
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-2 flex-row">
        <div class="d-flex justify-content-center">
          <span
            (click)="fetchMovie(name)"
            class="badge rounded-pill bg-success ms-1"
            *ngFor="let name of lastThreeSearches"
            >{{ name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-2 border border-dark rounded shadow-lg p-3 mb-5 bg-body rounded">
    <form [formGroup]="form">
      <div class="section1 text-center shadow-none p-3 mb-5 bg-light rounded">
        <span><b>view</b></span>
        <div class="form-floating ">
          <textarea 
            class="form-control" 
            formControlName="review"
            id="review">
          </textarea>
          <label for="floatingTextarea">Comments</label>
        </div>
      </div>

      <div class="section2 row text-center mt-2 ">
        <div class="status col-6 ">
          <span><b>status</b></span>
          <select  
            class="form-select mt-2"
            formControlName="status">
            <option [value]="status.Watched">
              {{ "catalogue.WATCHED" | translate }}
            </option>
            <option [value]="status.WatchLater">
              {{ "catalogue.WATCH_LATER" | translate }}
            </option>
          </select>
        </div>

          <div class="rating text-center col-6">
            <span ><b>ratings</b></span>
            <div class="rating mt-2" >
              <span class="m-2 " *ngFor="let rating of ratings" >
                <input 
                  class="form-check-input m-1" 
                  [value]="rating" 
                  type="radio"
                  formControlName="rating"
                />
              </span>
            </div>
          </div>

          <div class="mt-5">
            <button 
              type="submit" 
              class="btn btn-primary" 
              style="width: 80px;"
              (click)="submit()">add</button>
          </div>
          <ng-container *ngIf="submitted && form.invalid">
            <div  class="alert alert-danger mt-2" 
                  role="alert" 
                  *ngIf="form.controls.review?.errors?.required">
              {{ "errors.review" | translate }}
            </div>
            <div  class="alert alert-danger mt-2" 
                  role="alert" 
                  *ngIf="form.controls.review?.errors?.minlength">
              {{ "errors.minLength" | translate }}
            </div>
          </ng-container>
      </div>
    </form>
  </div>
  
</main>