@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

main {
  background-image: url("/assets/images/37952.jpg");
  font-family: 'Montserrat', sans-serif;
  height: 100%; 
  opacity: 0.9;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  form {
    width: 340px;
  }