@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
section{
  font-family: 'Montserrat', sans-serif;
}
.middle {
    background-image: url("/assets/images/nature-design.jpg");
    background-size: cover;
  }

  .body{
    height: 100%!important;
    margin: 0;
  }